.logoimg {
  height: 30px;
  width: 30px;
  padding: 2px;
}

.footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px 10px;
  position: unset;
  bottom: 0;
  font-size: 16px;
  margin: 0 auto 0;
  top: 90vh;
}

/* CSS for the red text */
.red-text {
  color: red;
}
.red-text:hover {
  color: rgb(0, 160, 168);
}

@media only screen and (max-width: 767px) {
  .footer {
    font-size: 10px;
    padding: 10px 5px;
  }
}
