.mobileTopBarContainer {
  display: none;
}

@media screen and (max-width: 700px) {
  .mobileTopBarContainer {
    display: block;
    background-color: #212529;
    color: white;
    height: 60px;

    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;
  }
  .mobileTopBarContainer1 {
    margin: auto 2vh;
  }
  .deshboardLinksContainer {
    display: flex;
    padding: 1vh 0;
  }

  .deshboardLinks {
    margin: auto 1vh;
  }

  .deshbordLinkBtn {
    margin: auto;
    width: 24%;
    text-align: center;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
}
